@model CoreTemplate.ViewModels.Genre.GenreViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="d-flex mb-5">
    <h1>@ViewBag.Title</h1>
    <h1 class="ml-auto my-auto"><small>@Model.Movies.Count movies</small></h1>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var movie in Model.Movies)
        {
            @Html.DisplayFor(x => movie, "MovieCard")
        }
    </div>
</div>