@model DotNetFlicks.ViewModels.Shared.DataTableViewModel

<form asp-action="Index" method="get">
    <input type="hidden" name="SortOrder" value="@Model.SortOrder" />

    <div class="d-flex mb-4">
        <div>
            <p class="d-none d-sm-inline-block mr-2">Items per page: </p>
            <select class="d-inline-block form-control w-auto" asp-items="Model.PageSizeOptions" name="PageSize" onchange="this.form.submit();"></select>
        </div>

        <div class="ml-auto">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="Search" value="@Model.Search" placeholder="Search" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.Search))
        {
            <div class="ml-3 mt-2">
                <a asp-action="Index" asp-route-sortOrder="@Model.SortOrder" asp-route-pageSize="@Model.PageSize">Clear search</a>
            </div>
        }
    </div>
</form>