@model DotNetFlicks.ViewModels.Person.PersonViewModel

@{
    ViewBag.Title = Model.Id > 0 ? string.Format("Edit {0} {1}", Model.FirstName, Model.LastName) : "New Person";
}

<h1>@ViewBag.Title</h1>
<br /><br />

<form asp-controller="Person" asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-4">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Biography" class="control-label"></label>
            <textarea asp-for="Biography" class="form-control"></textarea>
            <span asp-validation-for="Biography" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <label asp-for="BirthDate" class="control-label"></label>
                <!-- The logic below is used to display "mm/dd/yyyy" instead of "01/01/0001" as the default date for new entities -->
                <input asp-for="BirthDate" value="@(Model.BirthDate == DateTime.MinValue ? "" : Model.BirthDate.ToString("yyyy-MM-dd"))" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-4">
                <label asp-for="DeathDate" class="control-label"></label>
                <input asp-for="DeathDate" class="form-control" />
                <span asp-validation-for="DeathDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl" class="control-label"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <br /><br />

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
            <br /><br />
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</form>
