@model DotNetFlicks.ViewModels.Person.PersonViewModel

@{
    ViewData["Title"] = Model.Id > 0 ? "Edit " + Model.Name : "New Person";
}

<h1>@ViewData["Title"]</h1>
<br /><br />

<form asp-controller="Person" asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-4">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Biography" class="control-label"></label>
            <textarea asp-for="Biography" class="form-control"></textarea>
            <span asp-validation-for="Biography" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-4">
                <label asp-for="DeathDate" class="control-label"></label>
                <input asp-for="DeathDate" class="form-control" />
                <span asp-validation-for="DeathDate" class="text-danger"></span>
            </div>
        </div>

        <br /><br />

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
            <br /><br />
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</form>
