@model CoreTemplate.ViewModels.Job.JobViewModel

@{
  ViewBag.Title = string.Format("Delete {0}", Model.Name);
}

<h1>@ViewBag.Title</h1>
<p class="lead">Are you sure you want to delete @Model.Name?</p>
<br /><br />

<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <br /><br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>