@model DotNetFlicks.ViewModels.Movie.MoviesViewModel

@{
    ViewBag.Title = "Movies";
}

<div class="d-flex justify-content-end mb-5">
    <h1 class="mr-auto">@ViewBag.Title <small>(@Model.Movies.Count)</small></h1>
    @Html.Partial("_MovieSorter")
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var movie in Model.Movies)
        {
            @Html.DisplayFor(x => movie, "MovieCard")
        }
    </div>
</div>