<h5 class="my-auto mr-2">Sort By</h5>
<div class="dropdown my-auto">
    <button class="btn btn-primary dropdown-toggle" type="button" id="sort-movies-dropdown" data-toggle="dropdown">Date (Desc.)</button>
    <div class="dropdown-menu">
        <h6 class="dropdown-header">Ascending <i class="fas fa-arrow-down"></i></h6>
        <a class="dropdown-item sort-movies" id="sort-name-asc">Name</a>
        <a class="dropdown-item sort-movies" id="sort-date-asc">Date</a>
        <a class="dropdown-item sort-movies" id="sort-price-asc">Price</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Descending <i class="fas fa-arrow-up"></i></h6>
        <a class="dropdown-item sort-movies" id="sort-name-desc">Name</a>
        <a class="dropdown-item sort-movies active text-white" id="sort-date-desc">Date</a>
        <a class="dropdown-item sort-movies" id="sort-price-desc">Price</a>
    </div>
</div>