@using DotNetFlicks.Accessors.Identity
@using DotNetFlicks.Web.Views.Manage
@inject ApplicationSignInManager SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="nav flex-column nav-pills" role="tablist">
    <a asp-action="Index" class="@ManageNavPages.IndexNavClass(ViewContext) nav-link">Profile</a>
    <a asp-action="ChangePassword" class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-link">Password</a>
    @if (hasExternalLogins)
    {
        <a asp-action="ExternalLogins" class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) nav-link">External logins</a>
    }
    <a asp-action="TwoFactorAuthentication" class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) nav-link">Two-factor authentication</a>
</div>
