@model CoreTemplate.ViewModels.Movie.MovieViewModel

@{
    ViewBag.Title = Model.Id > 0 ? string.Format("Edit {0}", Model.Name) : "New Movie";
}

<h1>@ViewBag.Title</h1>
<br /><br />

<form asp-controller="Movie" asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-2"><br/></div>
            <div class="col-md-4">
                <label asp-for="GenreIds" class="control-label"></label>
                <select asp-for="GenreIds" asp-items="@Model.GenresSelectList" class="form-control selectpicker" data-max-options="3"></select>
            </div>
        </div>
        @* TODO: Description/Overview goes here, probably gets entire row *@
        <div class="row mb-4">
            <div class="col-md-4">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="col-md-2"><br /></div>
            <div class="col-md-4">
                <label asp-for="Runtime" class="control-label"></label>
                <input asp-for="Runtime" class="form-control" />
                <span asp-validation-for="Runtime" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <label asp-for="PurchaseCost" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input asp-for="PurchaseCost" class="form-control" />
                </div>
                <span asp-validation-for="PurchaseCost" class="text-danger"></span>
            </div>
            <div class="col-md-2"><br /></div>
            <div class="col-md-4">
                <label asp-for="RentCost" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input asp-for="RentCost" class="form-control" />
                </div>
                <span asp-validation-for="RentCost" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-4">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="col-md-2"><br /></div>
            <div class="col-md-4">
                @* TODO: TrailerUrl goes here *@
            </div>
        </div>

        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".crew-modal">Edit Crew</button>

        <div class="modal fade crew-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Edit Crew</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <table class="table" id="people-table">
                                <thead>
                                    <tr class="row">
                                        <th class="col-5 border-top-0" scope="col">Person</th>
                                        <th class="col-5 border-top-0" scope="col">Job</th>
                                        <th class="col-2 border-top-0" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.People.Count; i++)
                                    {
                                        @Html.EditorFor(x => x.People[i])
                                    }
                                </tbody>
                            </table>
                            <br />
                            <button type="button" class="btn btn-secondary add-person" data-toggle="modal">Add Person</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Update Crew</button>
                    </div>
                </div>
            </div>
        </div>

        <br /><br />

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
            <br /><br />
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</form>