@model CoreTemplate.ViewModels.Movie.MoviesViewModel

@{
    ViewBag.Title = "Movies";
}

<div class="d-flex justify-content-end mb-5">
    <h1 class="mr-auto">@ViewBag.Title</h1>
    <h5 class="my-auto mr-2">Sort By</h5>
    <div class="dropdown my-auto">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Date
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Name</a>
            <a class="dropdown-item active">Date: Newest First</a>
            <a class="dropdown-item">Date: Oldest First</a>
            <a class="dropdown-item">Price: Lowest First</a>
            <a class="dropdown-item">Price: Highest First</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var movie in Model.Movies)
        {
            @Html.DisplayFor(x => movie, "MovieCard")
        }
    </div>
</div>