@model DotNetFlicks.ViewModels.Movie.CrewMemberViewModel

<tr class="row">
    <td class="col align-middle">
        <input asp-for="Id" type="hidden" />
        <select asp-for="PersonId" class="form-control person-picker" data-live-search="true" data-size="10">
            @if (Model.PersonId != 0)
            {
                <option value="@Model.PersonId" selected>@Model.PersonName</option>
            }
            else
            {
                <option disabled selected>Select</option>
            }
        </select>
    </td>
    <td class="col align-middle">
        <select asp-for="DepartmentId" class="form-control department-picker" data-live-search="true" data-size="10">
            @if (Model.DepartmentId != 0)
            {
                <option value="@Model.DepartmentId" selected>@Model.DepartmentName</option>
            }
            else
            {
                <option disabled selected>Select</option>
            }
        </select>
    </td>
    <td class="col align-middle">
        <input asp-for="Position" class="form-control" />
    </td>
    <td width="64">
        <input asp-for="IsDeleted" type="hidden" />
        <div class="d-flex">
            <a class="btn btn-danger delete-person">
                <i class="fas fa-trash" style="color: white"></i>
            </a>
        </div>
    </td>
</tr>