/* Sitewide formatting
-------------------------------------------------- */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Card styles
-------------------------------------------------- */
.movie-card {
    cursor: pointer;
}

.movie-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.role-card {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.collapse-card {
    cursor: pointer;
}

/* Jumbotron styles
-------------------------------------------------- */
.jumbo-image {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Customize DataTables 
-------------------------------------------------- */
.btn-primary {
    color: #fff !important;
}

.container table.dataTable {
    margin: 30px 0 30px 0 !important;
}

.dataTable thead th {
    border-bottom: none !important;
}

.dataTables_paginate {
    margin-top: 8px !important;
}

/* Use simple pagination for small screens */
@media screen and (max-width: 767px) {
    li.paginate_button.previous {
        display: inline;
    }

    li.paginate_button.next {
        display: inline;
    }

    li.paginate_button {
        display: none;
    }
}